body {
    font-size: 24px;
    line-height: 30px;
    color: #ffffff;
    font-weight: bold;
    font-family: "Cuprum";
    margin: 0;
}
h1 {
    font-size: 14px;
    line-height: 23px;
    color: #ee3643;
    font-style: italic;
    font-family: "Cuprum";
}
h2 {
    font-size: 30px;
    line-height: 30px;
    color: #32425c;
    font-family: "Cuprum";
}
header {
    background-color: #f1f5f7;
    width: 100%;

}
.header-top {
    background-color: #293449;
    width: 100%;
    min-height: 60px;
    display: inline-block;
}
.service {
    background-color: #f1f5f7;
    width: 100%;
}
.container {
    width: 940px;
    margin: 0 auto;
    font-size: 0;
}
nav {
    background-color: #32425c;
    margin: 0 auto;
    width: 940px;
    
}
.block {
    width: 300px;
    min-height: 123px;
}
.block1{
    background-color: #f6b22d; 
}
.block2{
    background-color: #4aafde;
}
.block3{
    background-color: #cc79d1;
}
.block4{
    background-color: #85d179;
}
.block5{
    background-color: #f6b22d;
}
.rubric {
    background-color: #f7f3ec;
    width: auto;
    height: 89px;
    font-family: "Cuprum";
}
.logo {
    display: inline-block;
}
.search {
    display: inline-block;
    font-size: 17px;
}
.order {
    display: inline-block;
    font-size: 17px;
    margin-left: 150px;
}
.descritpion {
    display: inline-block;
    width: 190px;
    margin: 50px 0 50px 50px;
}
.contacs {
    display: inline-block;
    margin-left: 40px;
}
.number {
    display: inline-block;
    font-size: 21px;
    color: #293449;
}
p {
    font-size: 14px;
    margin: 0;
}
.user block {
    width: 300px;
    font-size: 21px;
    display: inline-block;
    margin-left: 50px;
}
ul {
    font-size: 17px;
    margin: 0;
    list-style: none;
    padding: 0;
}
li {
    display: inline-block;
    margin-left: 60px;
}