body {
    font-size: 24px;
    line-height: 30px;
    color: #ffffff;
    font-weight: normal;
    font-family: "Cuprum", "Arial", sans-serif;
    margin: 0;
}
@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "symbols-technomart";
  src: url("../fonts/symbols-technomart.woff") format("woff"),
       url("../fonts/symbols-technomart.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;

  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-technomart";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;

    speak: none;
}

.icon-left::before { content: "\3c"; } /* "&lt;" */
.icon-right::before { content: "\3e"; } /* "&gt;" */
.icon-basket::before { content: "\62"; } /* "b" */
.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-vk::before { content: "\76"; } /* "v" */
.icon-up::before { content: "\2c4"; } /* "˄" */
.icon-down::before { content: "\2c5"; } /* "˅" */
.icon-left-big::before { content: "\2190"; } /* "←" */
.icon-right-big::before { content: "\2192"; } /* "→" */
.icon-login::before { content: "\2386"; } /* "⎆" */
.icon-logout::before { content: "\241b"; } /* "␛" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-circle::before { content: "\25cb"; } /* "○" */
.icon-circle-dot::before { content: "\25cf"; } /* "●" */
.icon-star::before { content: "\2605"; } /* "★" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-youtube::before { content: "\f39e"; } /* "" */
.icon-home::before { content: "🏠"; } /* "\1f3e0" */
.icon-user::before { content: "👨"; } /* "\1f468" */
.icon-phone::before { content: "📞"; } /* "\1f4de" */
.icon-instagram::before { content: "📷"; } /* "\1f4f7" */
.icon-search::before { content: "🔍"; } /* "\1f50d" */
.icon-bookmark::before { content: "🔖"; } /* "\1f516" */

header {
    background-color: #f1f5f7;
    width: 100%;

}
.header-top {
    background-color: #293449;
    width: 100%;
    height: 42px;
    float: left;
    margin-bottom: 38px;
}
.header-bottom {
    min-height: 277px;
    margin-bottom: 59px;
}
.header-bottom-catalog {
    min-height: 277px;
}
.logo {
    height: 34px;
    float: left;
    width: 220px;
    box-shadow: 0 5px 0 #b72f38;
    background: #ee3643;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    padding-top: 8px;
}
.logo:hover {
    background: #ca2c37;
}
.search {
    font-size: 17px;
    float: left;
    width: 268px;
    height: 42px;
}
.search:hover {
    background: #212a3a;
}
.search input:hover {
    background: #212a3a;
}
input[type="search"] {
    background: #293449;
    border: none;
    width: 150px;
    height: 41px;
    position: relative;
    margin-left: 40px;
    color: white;
    font-size: 17px;
    line-height: 18px;
    font-family: "Cuprum", "Arial", sans-serif;
}
span.icon.icon-search {
    display: inline-block;
    position: relative;
    left: 14px;
    top: 1px;
}
span.icon.icon-bookmark {
    display: inline-block;
    position: relative;
    left: -9px;
}
span.icon.icon-basket {
    display: inline-block;
    position: relative;
    right: 13px;
}
.order {
    font-size: 0;
    float: right;
}
.order a:hover {
    background: #212a3a;
}
.order a:active {
    color: rgba(255, 255, 255, 0.5);
    background: #161d29;
}
a.btn-head-catalog:hover {
    background: #ca2c37;
}
a.btn-head {
    text-decoration: none;
    color: white;
    display: inline-block;
    font-weight: normal;
    font-size: 17px;
}
a.btn-head:nth-child(n) {
    width: 139px;
    text-align: center;
    padding: 6px 5px;
}
a.btn-head:first-child {
    padding-right: 11px;
    width: 133px;
    margin: 0;
}
a.btn-head:last-child {
    width: 150px;
    text-align: center;
    background: #63a63e;
    padding: 12px 0;
    margin: 0;
    line-height: 18px;
}
a.btn-head:last-child:hover {
    background: #5fbb2d;
}
a.btn-head:last-child:active {
    background: #518534;
    color: rgba(255, 255, 255, 0.5);
}
a.btn-head-catalog {
    width: 130px;
    text-align: center;
    padding: 12px 10px;
    background: #ee3643;
    font-size: 17px;
    padding-right: 24px;
    padding-left: 27px;
    text-decoration: none;
    color: white;
    margin-left: 3px;
}
span.icon {
    opacity: 0.3;
}
.description {
    width: 198px;
    margin: 0 0 30px 52px;
    float: left;
}
.description h1 {
    font-size: 16px;
    line-height: 23px;
    color: #ee3643;
    font-style: italic;
    font-family: "Cuprum", "Arial", sans-serif;
    font-weight: normal;
}
.user_block {
    font-size: 0;
    float: right;
    margin-top: 5px;
    min-width: 282px;
}
.user_block a:hover {
    color: #ee3643;
}
a.registr {
    display: inline-block;
    background: white;
    width: 150px;
    height: 30px;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 9px;
    text-decoration: none;
    color: black;
    margin-left: 10px;
    font-size: 21px;
}
a.login {
    display: inline-block;
    background: white;
    width: 104px;
    min-height: 29px;
    text-decoration: none;
    color: black;
    font-size: 21px;
    line-height: 19px;
    padding: 11px 0px 5px 17px;
}
a.login:first-child {
    margin: 0;
}
a.login:active {
    color: rgba(0, 0, 0, 0.5);
}
a.registr:active {
    color: rgba(0, 0, 0, 0.5);
}
span.icon.icon-login {
    display: inline-block;
    position: relative;
    left: -6px;
}
.contacs {
    font-size: 0;
    float: right;
    margin: 8px 50px 0 70px;
}
.number {
    display: inline-block;
    font-size: 21px;
    border: 3px solid white;
    width: 203px;
    height: 20px;
    padding: 5px 20px 15px 41px;
    color: #ea4243;
    margin-right: 18px;
    font-weight: bold;
}
.contacs p {
    color: #4b5a71;
    display: block;
    padding-left: 10px;
}
span.icon.icon-phone {
    display: inline-block;
    position: relative;
    left: -34px;
    color: #b7bfc8;
}
.service {
    background-color: #f1f5f7;
    width: 100%;
    color: black;
}
.container {
    width: 940px;
    margin: 0 auto;
    font-size: 0;
    padding: 0 10px;
}
.container::after {
    content: "";
    display: table;
    clear: both;
}
.main-navigation {
    background-color: #32425c;
    width: 940px;
    min-height: 60px;
    box-shadow: inset 0 -5px 0 0 #293449;
    margin-bottom: 60px;
    float: left;
}
.main-navigation li {
    font-size: 17px;
    display: inline-block;
    padding: 14px 0;
}
.main-navigation li:hover {
    background: #293449;
}
.main-navigation a:hover {
    background: #293449;
}
.main-navigation li:active {
    background: #1d2739;
}
.main-navigation a:active {
    color: #8e939c;
}
.main-navigation li:nth-child(1) {
    width: 88px;
    padding-left: 52px;
}
.main-navigation li:nth-child(2) {
    width: 124px;
    text-align: center;
}
.main-navigation li:nth-child(3) {
    width: 110px;
    text-align: center;
}
.main-navigation li:nth-child(4) {
    width: 115px;
    text-align: center;
}
.main-navigation li:nth-child(5) {
    width: 178px;
    text-align: center;
}
.main-navigation li:nth-child(6) {
    width: 128px;
    text-align: center;
}
.main-navigation li:nth-child(7) {
    width: 116px;
    padding-left: 29px;
}
.main-navigation a {
    text-decoration: none;
    color: white;
    font-weight: normal;
}
.block img {
    float: right;
    margin: 32px 30px 23px 23px;
}
.block1 img {
    margin-top: 31px;
    margin-right: 43px;
}
.block2 img {
    margin-top: 33px;
    margin-right: 29px;
}
.block4 img {
    margin: 26px 45px 22px 0px
}
.block {
    width: 300px;
    min-height: 123px;
}
.block p {
    font-size: 24px;
    float: left;
    margin: 21px 0 8px 23px;
}
.block1{
    background-color: #f6b22d; 
    float: left;
    margin-right: 20px;
}
.block2{
    background-color: #4aafde;
    float: left;
    margin-right: 20px;
}
.block3{
    background-color: #cc79d1;
    float: right;
}
.block4{
    background-color: #85d179;
    float: right;
    margin-top: 20px;
}
.block5{
    background-color: #f6b22d;
    float: right;
    margin-top: 20px;
}
a.btn-menu {
    background: rgba(229,229,229,0.3);
    width: 100px;
    height: 28px;
    border-radius: 5px;
    font-size: 14px;
    text-decoration: none;
    color: white;
    float: left;
    margin: 4px 0px 20px 23px;
    text-transform: uppercase;
    padding: 5px 0px 5px 35px;
}
a.btn-menu:hover {
    background: rgba(204,204,204, 0.7);
}
.block1 a.btn-menu {
    width: 101px;
    height: 28px;
    margin: 4px 0px 20px 25px;
    padding: 5px 9px 5px 25px;
}
.block2 a.btn-menu {
    padding-right: 6px;
    padding: 5px 10px 5px 25px;
    margin: 4px 0px 20px 25px;
}
.block4 a.btn-menu {
    padding: 5px 12px 5px 22px;
}
}
.block5 a.btn-menu {
    padding: 5px 0px 5px 36px;
    margin-top: 4px;
    width: 99px;
}
.menu::after {
    content: "";
    display: table;
    clear: both;
}
.product {
    display: inline-block;
    margin-top: 53px;
}
.top-product {
    background-color: #f7f3ec;
    width: 940px;
    height: 90px;
    font-family: "Cuprum", "Arial", sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 19px;
}
.top-product::after {
    content: "";
    display: table;
    clear: both;
}
.rubric {
    float: left;
    margin: 30px 0 30px 29px;
    font-weight: normal;
}
h2.rubric-2, h2.rubric {
    color: #32425c;
    font-size: 30px;
    line-height: 30px;
}
.rubric-2 {
    float: left;
    margin: 30px 0 30px 25px;
    font-weight: normal;
}
.products {
    font-size: 18px;
    color: black;
    margin-bottom: 20px;
    display: inline-block;
}
a.btn-all {
    background-color: #ee3643;
    min-width: 231px;
    float: right;
    text-align: center;
    color: white;
    font-size: 14px;
    text-decoration: none;
    padding: 5px 10px 3px 12px;
    border-radius: 3px;
    margin: 25px;
    margin-right: 24px;
}
a.btn-all:hover {
    background: #ca2c37;
}
.products li{
    border: 1px solid #f7f3ec;
    margin-left: 20px;
    vertical-align: top;
    min-width: 218px;
    min-height: 317px;
    text-align: center; 
    position: relative;
}
.products li:first-child {
    margin-left: 0;
}
.products del {
    color: #999999;
    margin-top: 10px;
    display: inline-block;
    margin-left: 4px;
    margin-bottom: 9px;
    font-size: 17px;
}
.products p {
    font-size: 18px;
    display: block;
    width: 160px;
    margin-left: auto;
    margin-right: auto;
    font-family: "PT Sans", "Arial", sans-serif;
    line-height: 20px;
    font-weight: bold;
}
.products li:last-child p {
    margin-bottom: 39px;
}
.products img {
    margin-bottom: 36px
}
.products li:hover {
    box-shadow: 0 0 25px #b8bbc2;
}
.products li:nth-child(2) img {
    margin-top: 8px;
    margin-bottom: 28px;
    margin-right: 18px;
}
.products li:nth-child(3) img {
    margin-top: 2px;
    margin-right: 1px;
    margin-bottom: 34px;
}
.products li:last-child img {
    margin-top: 8px;
    margin-right: 35px;
    margin-bottom: 28px;
}
li .actions {
    position: absolute;
    position: absolute;
    top: 0;
    left: 0;
    width: 218px;
    height: 88px;
    padding: 40px 0;
    background-color: #fff;
    text-align: center;
    z-index: 30;
}
.actions .buy, .actions .bookmark {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    background-color: #63a63e;
    display: block;
    width: 135px;
    margin: 0 auto 7px;
    padding: 6px 0;
    border-radius: 3px;
}
.actions .buy {
    box-shadow: inset 0 -3px 0 #367315;
}
    .actions .bookmark {
    width: 129px;
    padding: 1px 0;
    color: #63a63e;
    border: 3px solid #63a63e;
    background-color: #fff;
}
.products .actions {
    display: none;
}
.products li:hover .actions {
    display: block;
    z-index: 20;
}
.actions .buy:hover {
    background: #5fbb2d;
}
.actions .buy:active {
    background: #518534;
}
.btn {
    width: 112px;
    height: 28px;
    background: #ee3643;
    display: inline-block;
    border-radius: 3px;
    color: white;
    font-size: 17px;
    text-decoration: none;
    padding: 10px 0 0 11px;
    line-height: 18px;
    font-family: "PT Sans", "Arial", sans-serif;
    position: relative;
    margin-right: 8px;
    text-align: center;
}
a.btn:after {
    position: absolute;
    top: 0;
    right: -36px;
    width: 0;
    height: 0;
    content: "";
    border: 19px solid #fff;
    border-left-color: #ee3643;
}
.list a.btn {
    margin-left: 41px;
}
.new:before {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 10;
    width: 60px;
    height: 60px;
    content: "";
    background: url(../img/new-flag.png) no-repeat 0 0;
}
section.manufacturer {
    margin-bottom: 65px;
}
.manufacturers li {
    border: 1px solid #f7f3ec;
    margin-right: 20px;
    margin-bottom: 20px;
    display: inline-block;
    width: 218px;
    height: 143px;
}
.manufacturers li:nth-child(4n+4) {
    margin-right: 0;
}
.manufacturers li:hover {
    box-shadow: 0 0 25px #b8bbc2;
}
p {
    font-size: 14px;
    margin: 0;
}
a.loged {
    display: block;
}
ul {
    font-size: 0;
    margin: 0;
    list-style: none;
    padding: 0;
}
li {
    display: inline-block;
    
}
.manufacturers {
    margin-top: 20px;
    margin-bottom: 50px;
}
.cap {
    margin-top: 68px;
    min-width: 400px;
    margin-right: 500px;
    display: inline-block;
    margin-bottom: 70px;
}
.cap p.top {
    font-size: 30px;
    font-family: "Cuprum", "Arial", sans-serif;
    text-transform: uppercase;
    margin-bottom: 29px;
    font-weight: normal;
}
.cap p {
    line-height: 24px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    font-weight: normal;
}
.service-menu {
    float: left;
    width: 240px;
    height: 188px;
    position: relative;
}
.shadow {
    display: inline-block;
    position: absolute;
    top: -45px;
    left: 230px;
}
.service-menu li {
    font-size: 21px;
    display: block;
    background: #32425c;
    padding-left: 22px;
    padding-top: 11px;
    height: 48px;
    border-top: 1px solid #405069;
    border-bottom: 1px solid #293449;
}
.service-menu a {
    color: white;
    text-decoration: none;
}
.service-menu li:nth-child(2):hover {
    background: #293449;
    border: 1px solid #293449;
}
.service-menu li:nth-child(3):hover {
    background: #293449;
    border: 1px solid #293449;
}
li.service-active {
    background: white;
    border: white;
}
.service-active a {
    color: #32425c;
}
.market {
    width: 640px;
    min-height: 283px;
    float: right;
    position: relative;
}
.market-text {
    width: 296px;
    height: 150px;
    float: left;
}
.guarantee .market-text {
    width: 395px;
    height: 150px;
    float: left;
}
.market img {
    float: right;
    width: 468px;
    position: absolute;
    left: 171px;
    top: 20px;
}
.guarantee.market img,
.credit.market img {
    float: right;
    width: 389px;
    position: absolute;
    left: 240px;
    top: -2px;
}
.market-text p.head-market {
    font-size: 36px;
    margin-bottom: 31px;
    color: #32425c;
    font-family: "Cuprum", "Arial", sans-serif;
    text-transform: uppercase;
    margin-left: 18px;
    line-height: 24px;
}
.market-text p {
    font-size: 13px;
    margin-left: 21px;
    margin-top: 2px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: normal;
    line-height: 24px;
}
.guarantee,
.credit{
    display: none;
}
.company {
    width: 520px;
    float: left;
}
.company p {
    color: black;
    font-size: 13px;
    line-height: 24px;
    margin-top: 27px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: normal;
}
.company p.top {
    color: black;
    line-height: 24px;
    font-size: 30px;
    font-family: "Cuprum", "Arial", sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    margin-top: 32px;
}
.company p:nth-child(4) {
    margin-top: 0;
}
.about-company {
    min-height: 486px;
    margin-top: 50px;
}
.transport li {
    font-size: 18px;
    line-height: 20px;
    font-family: "Cuprum", "Arial", sans-serif;
    display: block;
    padding-top: 19px;
    padding-left: 35px;
    font-weight: normal;
    color: black;
}
.transport li::after {
    content: "";
    display: block;
    border-bottom: 2px solid #fb565a;
    width: 25px;
    position: relative;
    left: -36px;
    top: -12px;
}
.map {
    float: right;
    font-size: 16px;
    width: 300px;
    color: black;
}
.map p.top {
    font-size: 30px;
    font-family: "Cuprum", "Arial", sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 24px;
    margin-top: 32px;
}
.map p {
    width: 230px;
    margin-bottom: 30px;
    font-size: 13px;
    font-family: "PT Sans", "Arial", sans-serif;
    line-height: 24px;
    font-weight: normal;
}
a.btn-company {
    margin-top: 33px;
    display: inline-block;
    font-size: 14px;
    background-color: #ee3643;
    color: white;
    border-radius: 3px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: normal;
    padding-top: 11px;
    padding-bottom: 9px;
    padding-left: 41px;
    padding-right: 40px;
    line-height: 18px;
}
a.btn-lost {
    margin-top: 30px;
    display: inline-block;
    background-color: #ee3643;
    color: white;
    border-radius: 3px;
    width: 236px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    padding-top: 11px;
    padding-left: 64px;
    padding-bottom: 9px;
}
.footer-top {
    background-color: #32425c;
    min-height: 194px;
}
.footer-top p {
    font-size: 18px;
    font-weight: normal;
    margin-left: 4px;
    line-height: 24px;
}
.logo-page {
    width: 178px;
    height: 45px;
    background: #ee3643;
    display: inline-block;
    box-shadow: 0 5px 0 #b52933;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: normal;
    padding-top: 18px;
    padding-left: 42px;
    margin-bottom: 33px;
}
.more-navigation {
    float: right;
}
.more-navigation li {
    font-size: 14px;
    padding-top: 35px;
    margin-left: 57px;
}
.more-navigation a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: normal;
}
.more-navigation a:hover {
    text-decoration: underline;
    color: #f1f5f7;
}
.more-navigation li:nth-child(2) {
    margin-left: 59px;
}
.more-navigation li:nth-child(3) {
    margin-left: 58px;
}
.more-navigation li:nth-child(4) {
    margin-left: 62px;
}
.other-navigation {
    float: right;
    min-width: 560px;
}
.other-navigation li {
    font-size: 20px;
    margin-top: 22px;
}
.other-navigation li:first-child {
    margin-left: 35px;
    margin-right: 61px;
}
.other-navigation li:nth-child(2) {
    margin-right: 59px;
}
.other-navigation li:nth-child(3) {
    margin-right: 59px;
}
.other-navigation li:last-child {
    margin-right: 0;
}
.other-navigation ul {
    content: "";
    display: table;
    clear: both;
}
.other-navigation a {
    text-decoration: none;
    color: #ffd180;
    font-size: 18px;
    font-weight: normal;
}
.other-navigation a:hover {
    text-decoration: underline;
    color: #ffd180;
}
a.btn-case {
    font-size: 13px;
    display: inline-block
}
h2.name-top {
    float: left;
    margin: 30px 0 33px 28px;
    font-size: 30px;
    line-height: 30px;
    font-family: "Cuprum", "Arial", sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    color: #32425c;
}
.breadcrumbs {
    min-height: 59px;
    display: inline-block;
    min-width: 940px;
}
.breadcrumbs li {
    margin-left: 9px;
    padding-top: 19px;
    font-size: 13px;
    color: black;
    line-height: 18px;
}
.breadcrumbs li:first-child {
    margin: 0;
}
.breadcrumbs li:nth-child(3) {
    margin-left: 13px;
}
.breadcrumbs a {
    font-size: 13px;
    line-height: 18px;
    font-family: "PT Sans", "Arial", sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}
span.icon.icon-right {
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    padding-left: 9px;
}
.head-main {
    background-color: #f2f6f8;
    height: 89px;
    margin-bottom: 20px;
}
.page-main::after {
    content: "";
    display: table;
    clear: both;
}
form.filter {
    float: left;
    width: 220px;
    min-height: 760px;
}
.products-catalog {
    width: 707px;
    min-height: 1145px;
    float: left;
    margin-left: 13px;
}
.name {
    width: 220px;
    height: 38px;
    background-color: #f7f3ec;
}
.name p {
    color: black;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 10px;
    margin-left: 19px;
    font-family: "PT Sans", "Arial", sans-serif;
}
.price {
    width: 220px;
    min-height: 45px;
    font-size: 17px;
    line-height: 30px;
    color: black;
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 10px;
}
   .manufacturers-form {
    width: 220px;
    min-height: 262px;
    float: left;
    color: black;
    font-size: 20px;
    margin-top: 24px;
    border-top: 1px solid #e5e5e5;
}
h2.made-top {
    font-size: 17px;
    line-height: 30px;
    font-family: "PT Sans", "Arial", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 0;
}
.manufacturers-form label {
    float: left;
    margin-top: 7px;
    margin-right: 60px;
}
.manufacturers-form p {
    font-size: 15px;
    line-height: 20px;
    font-family: "PT Sans", "Arial", sans-serif;
    text-transform: uppercase;
    display: inline-block;
    font-weight: normal;
    margin: 0;
    position: relative;
    left: -5px;
}
.manufacturers-form span {
    font-size: 28px;
    line-height: 20px;
    display: inline-block;
    position: relative;
    top: 4px;
    left: -7px;
}
.manufacturers-form input {
    display: none;
}
.power {
    width: 220px;
    height: 245px;
    float: left;
    color: black;
    font-size: 16px;
    position: relative;
    border-top: 1px solid #e5e5e5;
}
h2.power-top {
    font-size: 17px;
    line-height: 30px;
    font-family: "PT Sans", "Arial", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    margin-top: 17px;
    margin-bottom: 8px;
}
.power p {
    font-size: 14px;
    line-height: 20px;
    font-family: "PT Sans", "Arial", sans-serif;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 48px;
    margin-left: 35px;
    margin-bottom: 15px;
}
.power span {
    font-size: 28px;
    line-height: 20px;
}
.power input[type="submit"] {
    outline: none;
    font-size: 13px;
    line-height: 18px;
    font-family: "PT Sans", "Arial", sans-serif;
    border: 1px solid #e5e5e5;
    background: white;
    display: inline-block;
    margin-top: 64px;
    padding: 9px 38px;
    text-transform: uppercase;
}
span.icon.icon-circle-dot {
    position: absolute;
    top: 56px;
    left: -7px;
}
span.icon.icon-circle {
    position: absolute;
    top: 97px;
    left: -7px;
}
.about-product {
    background: #f2f6f8;
}
.sorting {
    font-size: 16px;
    display: inline-block;
    background: #f7f3ec;
    width: 700px;
    min-height: 38px;
    margin-left: 4px;
    margin-bottom: 20px;
} 
.sorting li {
    display: inline-block;
    font-size: 13px;
    line-height: 18px;
    font-family: "PT Sans", "Arial", sans-serif;
    text-transform: uppercase;
    color: black;
    padding-top: 3px;
    padding-left: 17px;
    font-weight: normal;
}
.sorting li:first-child {
    margin-right: 118px;
}
a.btn-sorting.active {
    color: #ee3643;
}
.sorting li:nth-child(4) a {
    margin-right: 21px;
}
.sorting li:last-child {
    padding-left: 0;
}
a.btn-sorting {
    display: inline-block;
    margin-right: 50px;
    color: #b6b3ae;
    text-decoration: none;
}
span.icon-down-dir {
    font-size: 23px;
    line-height: 20px;
    color: #c6c2bd;
    position: relative;
    top: 4px;
}
span.icon-up-dir.active {
    color: #ee3643;
}
span.icon-up-dir {
    font-size: 23px;
    line-height: 20px;
    color: #c6c2bd;
    position: relative;
    top: 4px;
}
.sorting span:hover {
    color: black;
}
.list {
    font-size: 18px;
    color: black;
    margin-bottom: 16px;
    display: inline-block;
}
.list ul:after {
    content: "";
    clear: both;
    display: table;
}
.list li {
    font-size: 15px;
    color: black;
    float: left;
    margin-bottom: 20px;
    border: 1px solid #e5e5e5;
    width: 218px;
    height: 316px;
    margin-left: 20px;
    position: relative;
}
.list li:nth-child(3n+1) {
    margin-left: 7px;
}
.list li:nth-child(3n+3) {
    margin-right: 0;
}
.list img {
    margin-bottom: 36px;
    z-index: 20;
}
.list li:nth-child(2) img {
    margin-top: 2px;
    margin-bottom: 38px;
    margin-right: 18px;
}
.list li:nth-child(3) img {
    margin-top: 2px;
    margin-right: 1px;
    margin-bottom: 34px;
}
.list li:last-child img {
    margin-top: 8px;
    margin-right: 35px;
    margin-bottom: 28px;
}
.list li:nth-child(3n+1) img {
    margin-top: 8px;
    margin-left: 34px;
    margin-bottom: 32px;
}
.list li:nth-child(3n+2) img {
    margin-top: 2px;
    margin-left: 22px;
    margin-bottom: 38px;
}
.list li:nth-child(3n+3) img {
    margin-top: 8px;
    margin-bottom: 32px;
    margin-left: 26px;
}
.list p {
    font-size: 18px;
    display: block;
    width: 160px;
    margin-left: auto;
    margin-right: auto;
    font-family: "PT Sans", "Arial", sans-serif;
    line-height: 20px;
    font-weight: bold;
    text-align: center;
}
.list li:nth-child(3n+3) p {
    margin-bottom: 39px;
}
.list li:nth-child(3) p {
    margin-bottom: 39px;
}
.list li:last-child p {
    margin-bottom: 39px;
}
.list del {
    color: #999999;
    margin-top: 10px;
    display: inline-block;
    margin-left: 4px;
    margin-bottom: 9px;
    font-size: 17px;
}
.list .actions {
    display: none;
}
.list li:hover .actions {
    display: block;
}

.list li:hover {
    box-shadow: 0 0 25px #b8bbc2;
}
.list .active .actions {
    display: block;
}
.pages {
    display: inline-block;
    min-width: 283px;
    height: 40px;
    margin-bottom: 59px;
}
.pages li {
    font-size: 13px;
    line-height: 18px;
    color: black;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    min-width: 22px;
    min-height: 28px;
    margin-left: 7px;
    padding-left: 15px;
    margin-right: 2px;
    padding-top: 10px;
    font-family: "PT Sans", "Aria", sans-serif;
}
.pages li.active {
    background: #ee3643;
    color: white;
    border: 1px solid #ee3643;
}
.pages li:last-child {
    padding-right: 30px;
    padding-left: 32px;
}
.pages li:hover {
    border: 1px solid #bdc6ca;
}
a.btn-page {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
.logo-footer {
    float: left;
}
.footer-bottom {
    background-color: #293449;
    min-height: 107px;
}
section.footer-year {
    float: left;
    margin-top: 36px;
}
.footer-year p {
    font-size: 16px;
    font-weight: normal;
    line-height: 18px;
    margin-left: 2px;
}
section.footer-social {
    float: left;
    min-width: 130px;
    margin-left: 160px;
    margin-top: 34px;
}
a.social-btn {
    font-size: 19px;
    color: white;
    display: inline-block;
    width: 29px;
    height: 23px;
    margin: 0 2px;
    background: #212a3a;
    border-radius: 50%;
    padding-right: 6px;
    padding-top: 6px;
    padding-bottom: 12px;
    padding-left: 6px;
    transition: background-color 0.5s;
}
a.social-btn:hover {
    background: #ee3643;
}
.social-btn span.icon {
    color: white;
    opacity: 1;
    margin: 0;
}
section.footer-copyright {
    float: right;
    font-size: 16px;
    min-width: 200px;
    min-height: 50px;
    margin-top: 43px;
}
.connect {
    float: left;
    margin-right: 51px;
}
section.footer-copyright p {
    font-size: 16px;
    font-weight: normal;
    line-height: 5px;
    display: block;
}
a.btn-link {
    color: #ffd180;
    text-decoration: none;
    font-weight: normal;
}
a.btn-link:hover {
    text-decoration: underline;
}
.creator {
    float: right;
    margin-right: 14px;
}
a.loged {
    background: white;
    min-width: 250px;
    height: 34px;
    float: right;
    color: black;
    font-size: 21px;
    line-height: 18px;
    text-decoration: none;
    margin-top: 3px;
    padding: 11px 28px 0px 21px;
}
a.loged:hover {
    color: #ee3643;
}
a.loged:active {
    color: rgba(0, 0, 0, 0.5);
}
.user_block_catalog {
    font-size: 0;
    float: right;
    margin-top: 5px;
    width: 300px;
    display: inline-block;
    height: 79px;
    position: relative;
}
span.icon.icon-user {
    display: inline-block;
    position: relative;
    right: 10px;
    font-size: 18px;
    line-height: 18px;
    bottom: 2px;
}
span.icon.icon-logout {
    font-size: 22px;
    line-height: 18px;
    display: inline-block;
    position: relative;
    left: 33px;
}
a.logout {
    display: inline-block;
    position: absolute;
    top: 14px;
    left: 231px;
    color: black;
}
span.point {
    display: inline-block;
    position: relative;
    width: 2px;
    height: 2px;
    border: 1px solid;
    border-radius: 50px;
    background: black;
    bottom: 4px;
    left: 15px;
}
.number-catalog {
    display: inline-block;
    font-size: 21px;
    border: 3px solid white;
    width: 203px;
    height: 20px;
    padding: 5px 20px 15px 41px;
    color: #ea4243;
    font-weight: bold;
}
a.btn-case {
    display: inline-block;
    font-size: 16px;
    line-height: 18px;
    padding-left: 19px;
    margin-top: 8px;
    color: #3f4e66;
    margin-right: 13px;
}
a.btn-case:hover {
    color: #ee3643;
}
.info {
    margin-bottom: 68px;
}
h2.info-head {
    font-size: 30px;
    line-height: 24px;
    margin-top: 68px;
    text-transform: uppercase;
    display: inline-block;
    color: black;
    font-family: "Cuprum", "Arial", sans-serif;
    font-weight: normal;
    margin-bottom: 29px;
}
.info p {
    color: black;
    font-size: 13px;
    line-height: 24px;
    font-family: "PT Sans", "Arial", sans-serif;
}
.range-filter {
    width: 220px;
}
.range-controls {
    position: relative;
    height: 41px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 9px;
    border-radius: 5px;
    background: #f7f3ec;
}
.range-controls .scale {
    height: 2px;
    background: #d7dcde;
}
.range-controls .bar {
    width: 80%;
    height: 2px;
    background: #00ca74;
}
.range-controls .toggle {
    position: absolute;
    top: 30px;
    left: 0px;
    width: 4px;
    height: 4px;
    cursor: pointer;
    border: 8px solid #fff;
    border-radius: 50%;
    background: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
}
.range-controls .toggle-min {
    left: 20px;
}
.range-controls .toggle-max {
    left: 160px;
}
.price-controls {
    font-size: 0;
}
.price-controls label {
    font-size: 16px;
    display: inline-block;
    width: 43%;
}
label.min-price {
    margin-right: 30px;
}
.max-price { 
    text-align: center;
}
.price-controls input {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 16px;
    width: 60px;
    margin-left: 0px;
    padding: 8px 10px;
    text-align: center;
    color: #283136;
    border: none;
    border-radius: 5px;
    outline: none;
    background: #f7f3ec;
    padding-left: 19px;
    padding-right: 16px;
}
.slider {
    width: 621px;
    float: left;
    position: relative;
    margin-top: 20px;
}
.slide {
    min-height: 267px;
}
.slide-text {
    width: 250px;
    padding: 25px 0;
    margin-left: 24px;
}
.slide-title {
    font-size: 36px;
    line-height: 30px;
    font-weight: bold;
    font-family: "Cuprum", "Arial", sans-serif;
    color: white;
    text-transform: uppercase;
}
.slide p {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 24px;
    color: white;
}
.slide p:nth-child(2) {
    font-size: 18px;
    line-height: 24px;
    font-family: "Cuprum", "Arial", sans-serif;
}
.slide .slider-btn {
    display: block;
    width: 128px;
    margin-top: 122px;
    font-weight: 300;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    background: #fb565a;
    border-radius: 3px;
    line-height: 18px;
    padding: 11px 17px 9px 51px;
}
.slide:nth-child(1) {
    background-image: url(../img/man.jpg);
}

.slide:nth-child(2) {
    background-image: url(../img/man2.jpg);
}
.slide {
    display: none;
}
.slider:nth-child(1) {
    display: block;
}
.slider input[type="radio"] {
    display: none;
}
.slider-controls label {
    display: inline-block;
    width: 5px;
    height: 5px;
    margin: 0 5px;
    vertical-align: top;
    background: #ffffff;
    border: 3px solid white;
    border-radius: 50%;
}
.slider-controls {
    position: absolute;
    bottom: 17px;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    text-align: center;
}
.slider-pointers {
    position: absolute;
}
.point-left:before {
    content: url(../img/icon-left.png);
    position: absolute;
    top: 115px;
    left: 25px;
    cursor: pointer;
}
.point-right:before {
    content: url(../img/icon-right.png);
    position: absolute;
    top: 115px;
    left: 575px;
    cursor: pointer;
}
#btn-1:checked ~ .slides .slide:nth-child(1) {
    display: block;
}

#btn-2:checked ~ .slides .slide:nth-child(2) {
    display: block;
}
#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"] {
    background: #ee3643;
}
#btn-1:checked ~ .slides .slide:nth-child(1) {
    left: 0;
}
#btn-1:checked ~ .slides .slide:nth-child(2) {
    left: 880px;
}
#btn-2:checked ~ .slides .slide:nth-child(1) {
    left: -880px;
}
#btn-2:checked ~ .slides .slide:nth-child(2) {
    left: 0;
}
.modal-content {
    position: absolute;
    top: 2528px;
    left: 50%;
    width: 620px;
    height: 418px;
    margin-left: -311px;
    color: #000000;
    background: white;
    border-top: 7px solid #ee3643;
    box-shadow: 0 2px 30px black;
    display: none;
}
.modal-main.catalog {
    margin-top: 20px;
}
.modal-content.catalog {
    position: absolute;
    top: 411px;
    left: 50%;
    width: 620px;
    height: 285px;
    margin-left: -311px;
    color: #000000;
    background: white;
    border-top: 7px solid #ee3643;
    box-shadow: 0 2px 30px black;
}
.modal-content-close {
    position: absolute;
    top: 9px;
    right: 13px;
    width: 22px;
    height: 22px;
    font-size: 0;
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.modal-content-close::before,
.modal-content-close::after {
    content: "";
    position: absolute;
    top: 8px;
    left: -1px;
    width: 27px;
    height: 5px;
    background-color: #ee3643;
    border-radius: 1px;
}
.modal-content-close::before {
  transform: rotate(45deg);
}

.modal-content-close::after {
  transform: rotate(-45deg);
}
h2.modal-title {
    font-size: 18px;
    line-height: 18px;
    font-family: "Cuprum", "Arial", sans-serif;
    font-weight: normal;
    color: black;
    margin-right: 169px;
    float: left;
    margin-top: 44px;
    margin-bottom: 10px;
}
h2.modal-title.second {
    margin-right: 0;
}
h2.modal-title.third {
    margin-top: 10px;
}
h2.done {
    font-size: 30px;
    display: inline-block;
    line-height: 18px;
    font-family: "Cuprum", "Arial", sans-serif;
    font-weight: normal;
}
.catalog img {
    display: inline-block;
    position: relative;
    top: 26px;
    left: -18px;
}
.modal-container {
    width: 460px;
    margin: 0 auto;
}
input.your-name, 
input.your-email {
    width: 212px;
    height: 38px;
    text-align: center;
    border: 2px solid #d7dcde;
    border-radius: 3px;
}
input.your-name {
    margin-right: 16px;
}
input.message {
    width: 452px;
    height: 24px;
    border: 2px solid #d7dcde;
    border-radius: 3px;
    padding-bottom: 86px;
}
.modal-footer {
    background: #f1f1f1;
    height: 70px;
    padding-bottom: 2px;
    display: block;
    padding-top: 41px;
    margin-top: 32px;
}
.modal-footer.catalog {
    background: #f1f1f1;
    height: 70px;
    padding-bottom: 2px;
    display: block;
    padding-top: 41px;
    margin-top: 54px;
}
button.btn-send {
    width: 100%;
    border: none;
    outline: none;
    background: #ee3643;
    color: white;
    font-size: 14px;
    line-height: 18px;
    font-family: "Cuprum", "Arial", sans-serif;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 3px;
}
a.btn-to-order {
    margin-right: 20px;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    background: #ee3643;
    padding: 12px;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 3px;
}
a.btn-buy {
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    background: white;
    padding: 12px;
    padding-left: 45px;
    padding-right: 42px;
    border-radius: 3px;
}
.modal-content-map {
    width: 935px;
    height: 442px;
    background: white url("../img/big-map.jpg") no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 2000px;
    margin-left: -468px;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
    z-index: 50;
    display: none;
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 40;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

