body {
    font-size: 24px;
    line-height: 30px;
    color: #ffffff;
    font-weight: bold;
    font-family: "Cuprum";
    margin: 0;
}
h1 {
    font-size: 14px;
    line-height: 23px;
    color: #ee3643;
    font-style: italic;
    font-family: "Cuprum";
}
h2 {
    font-size: 30px;
    line-height: 30px;
    color: #32425c;
    font-family: "Cuprum";
}
header {
    background-color: #f1f5f7;
    width: 100%;

}
.header-top {
    background-color: #293449;
    width: 100%;
    height: 42px;
    float: left;
}
.header-bottom {
    min-height: 277px;
}
.logo {
    display: inline-block;
    height: 46px;
}
.search {
    font-size: 17px;
    display: inline-block;
    position: relative;
    top: -20px;
}
input[type="search"] {
    background: #293449;
    border: none;
    width: 150px;
    height: 41px;
    position: relative;
    margin-left: 40px;
    color: white;
}
a.btn-head {
    text-decoration: none;
    color: white;
    margin-right: 10px;
    display: inline-block;
}
}
a.btn-head:last-child {
    background: bisque;
    display: inline-block;
    margin: 0;
    width: 150px;
    text-align: center;
    height: 40px;
    background: #63a63e;
}
.order {
    font-size: 17px;
    display: inline-block;
    position: relative;
    top: -20px;
    margin-left: 140px;
}
.descritpion {
    display: inline-block;
    width: 190px;
    margin: 50px 0 50px 50px;
}
.contacs {
    display: inline-block;
    margin-left: 40px;
}
.number {
    display: inline-block;
    font-size: 21px;
    color: #293449;
    border: 3px solid white;
    width: 270px;
    min-height: 21px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ea4243;
    top: -5px;
    position: relative;
}
.user_block {
    font-size: 0;
    display: inline-block;
    margin-left: 50px;
    position: relative;
    top: -45px;
}
a.registr {
    display: inline-block;
    position: relative;
    background: white;
    width: 150px;
    min-height: 30px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    color: black;
    margin-left: 10px;
    font-size: 21px;
}
}
a.login {
    display: inline-block;
    position: relative;
    background: white;
    width: 122px;
    min-height: 30px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    color: black;
    margin-left: 10px;
    font-size: 21px;
}
.contacs p {
    color: #4b5a71;
}
.service {
    background-color: #f1f5f7;
    width: 100%;
    color: black;
}
.container {
    width: 940px;
    margin: 0 auto;
    font-size: 0;
    padding: 0 10px;
}
.container::after {
    content: "";
    display: table;
    clear: both;
}
nav {
    background-color: #32425c;
    margin-right: 59px;
    width: 940px;
    
}
nav li {
    margin-left: 50px;
    font-size: 16px;
}
.main-show {
    margin-top: 60px;
}
.block img {
    position: relative;
    left: 170px;
    display: block;
}
.block {
    width: 300px;
    min-height: 123px;
    float: left;
}
.block p {
    font-size: 24px;
    display: inline-block;
    position: relative;
    top: 20px;
}
.block1{
    background-color: #f6b22d; 
    float: left;
    margin-right: 20px;
}
.block2{
    background-color: #4aafde;
    float: left;
    margin-right: 20px;
}
.block3{
    background-color: #cc79d1;
    float: right;
}
.slider {
    float: left;
    min-width: 622px;
    min-height: 266px;
    margin-top: 20px;
}
.block4{
    background-color: #85d179;
    float: right;
    margin-top: 20px;
}
.block5{
    background-color: #f6b22d;
    float: right;
    margin-top: 20px;
}
a.btn-menu {
    display: inline-block;
    background: rgba(0, 0, 0, 0.1);
    width: 150px;
    height: 35px;
    border-radius: 5px;
    font-size: 14px;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 5px;
}
.menu::after {
    content: "";
    display: table;
    clear: both;
}
.product {
    display: inline-block;
    margin-top: 53px;
}
.top-product {
    background-color: #f7f3ec;
    min-width: 940px;
    min-height: 90px;
    font-family: "Cuprum";
}
.top-product::after {
    content: "";
    display: table;
    clear: both;
}
.rubric {
    float: left;
    margin: 35px 0 35px 30px;
}
.products {
    font-size: 18px;
    color: black;
    margin-bottom: 20px;
    display: inline-block;
    margin-top: 20px;
}
a.btn-all { 
    float: right;
    min-width: 254px;
    background-color: #ee3643;
    font-size: 16px;
    text-align: center;
    color: white;
    font-size: 14px;
    text-decoration: none;
    padding: 12px;
    position: relative;
    top: 19px;
    right: 20px;
    border-radius: 5px;
}    
.products li{
    border: 1px solid #f7f3ec;
    padding: 5px;
    margin-left: 20px;
    vertical-align: top;
    min-width: 208px;
    min-height: 306px;
    text-align: center;  
}
.products li:first-child {
    margin-left: 0;
}
.products del {
    color: #999999;
}
.products p {
    font-size: 18px;
    display: block;
    width: 160px;
    margin-left: auto;
    margin-right: auto;
}
.products img {
    position: relative;
    top: 20px;
}
.btn {
    width: 119px;
    height: 28px;
    background: #ee3643;
    display: inline-block;
    border-radius: 3px;
    color: white;
    font-size: 17px;
    text-decoration: none;
    padding: 5px;
}
.manufacturers li {
    border: 1px solid #f7f3ec;
}
p {
    font-size: 14px;
    margin: 0;
}
.user_block {
    font-size: 21px;
    display: inline-block;
    margin-left: 50px;
}
a.loged {
    display: block;
}
ul {
    font-size: 0;
    margin: 0;
    list-style: none;
    padding: 0;
}
li {
    display: inline-block;
    
}
.manufacturers {
    margin-top: 20px;
    margin-bottom: 50px;
}
.cap {
    margin-top: 68px;
    min-width: 400px;
    margin-right: 500px;
    display: inline-block;
}
.slider2 {
    min-width: 240px;
    min-height: 142px;
    font-size: 21px;
    margin-top: 40px;
    float: left;
    margin-right: 40px;
}
.delivery {
    display: inline-block;
    width: 640px;
    min-height: 247px;
}
.delivery-text {
    width: 285px;
    height: 150px;
    float: left;
}
.delivery img {
    float: right;
    width: 339px;
}
.company {
    font-size: 13px;
    color: black;
    width: 520px;
    float: left;
}
.about-company {
    min-height: 526px;
    margin-bottom: 86px;
    margin-top: 50px;
}
.transport li {
    font-size: 20px;
    display: table;
}
.map {
    float: right;
    font-size: 16px;
    width: 300px;
    color: black;
}
.map p {
    width: 230px;
    margin-bottom: 40px;
}
a.btn-company {
    margin-top: 40px;
    display: inline-block;
    font-size: 16px;
    background-color: #ee3643;
    color: white;
    width: 220px;
    height: 40px;
    text-align: center;
    border-radius: 3px;
}
a.btn-lost {
    margin-top: 40px;
    display: inline-block;
    background-color: #ee3643;
    color: white;
    border-radius: 3px;
    width: 300px;
    height: 40px;
    text-align: center;
}
.footer-top {
    background-color: #32425c;
    min-height: 194px;
}
.more-navigation {
    float: right;
}
.more-navigation li {
    font-size: 14px;
    display: table-cell;
    padding-top: 50px;
    padding-right: 50px;
}
.other-navigation {
    float: right;
    min-width: 560px;
}
.other-navigation li {
    font-size: 20px;
    float: right;
    padding-left: 30px;
}
a.btn-case {
    font-size: 13px;
}
h2.name-top {
    float: left;
    margin: 33px 0 33px 33px;
}
.breadcrumbs {
    min-height: 65px;
}
.breadcrumbs li {
    font-size: 16px;
    color: black;
    margin-left: 20px;
}
.head-main {
    background-color: #f2f6f8;
    height: 88px;
    margin-bottom: 20px;
}
.page-main {
    margin-bottom: 50px;
}
.page-main::after {
    content: "";
    display: table;
    clear: both;
}
form.filter {
    float: left;
    width: 220px;
    min-height: 760px;
}
.products-catalog {
    width: 700px;
    min-height: 1145px;
    float: right;
}
.name {
    color: black;
    width: 220px;
    height: 40px;
    background-color: #f7f3ec;
}
.price {
    width: 220px;
    height: 190px;
    background-color: antiquewhite;
}
.manufacturers-form {
    width: 220px;
    min-height: 260px;
    float: left;
    color: black;
    font-size: 20px;
}
.filter input {
    display: table;
}
.power {
    width: 220px;
    height: 245px;
    float: left;
    color: black;
    font-size: 16px;
}
.about-product {
    background: #f2f6f8;
}
.sorting {
    font-size: 16px;
    display: inline-block;
    background: #f7f3ec;
    width: 700px;
    min-height: 40px;
} 
.sorting p {
    float: left;
}
a.btn-sorting {
    float: left;
    margin-left: 50px;
}
.list {
    float: right;
    margin-bottom: 55px;
}
.list li {
    font-size: 15px;
    color: black;
    float: right;
    margin-right: 9px;
    margin-bottom: 9px;
    border: 1px solid;
    width: 220px;
    height: 320px;
}
.list p {
    width: 160px;
    text-align: center;
    min-height: 38px;
}
.pages {
    display: inline-block;
    min-width: 283px;
    height: 40px;
    margin-bottom: 60px;
}
.pages li {
    font-size: 16px;
    color: black;
    border: 1px solid;
    border-radius: 3px;
    min-width: 40px;
    min-height: 40px;
    margin-right: 10px;
    text-align: center;
}
.pages li:last-child {
    padding: 0 30px;
    width: auto;
}
p.about-head {
    font-size: 24px;
    margin-top: 20px;
    display: inline-block;
}
.about-product p {
    color: black;
}
.logo-footer {
    float: left;
}

.footer-bottom {
    background-color: #293449;
    min-height: 107px;
}
section.footer-year {
    float: left;
}
section.footer-social {
    float: left;
    min-width: 130px;
    margin-left: 150px;
    margin-top: 40px;
}
section.footer-copyright {
    float: right;
    font-size: 16px;
    min-width: 400px;
    min-height: 50px;
}
.connect {
    float: left;
}
.creator {
    float: right;
}